html {
  font-size: 8px
}

body {
  background-color: #f99;
}

/* lengths */
/* absolute and relative lengths */

h1 {
  /* pixel is an example of absolute length */
  /* 1 pixel = 1/96 of an inch */
  /* font-size: 96px; */
  /* font-size: 48px; */

  /*  relative length */
  /* % em rem  */
  /* font-size: 96px; */

  /*  the default font-size of <html> is 16px */
  /*  so when i say 2em that means 2 x 16px */
  /*  3em = 3 x 16px */
  font-size: 4em
}

p {
  font-size: 2em; /*  = 32px*/
}